    .sector-galeria{
        margin: 60px;
        .container-galeria{
            display: grid;
            grid-template-columns: repeat(4,25%);
            width: 100%;
            margin: auto;
            .gym-columna{
                margin: 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }