    section{
        .carousel{
            .container-fluid{
                height: 85vh;
            }
        }
    }
    h1{
        font-size: 36px;
        color: $letra-color;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        padding: 20px;
        border-bottom: 2px solid #e0e0e0;
    }
    .parrafo-principal{
        font-size: 18px;
        color: $letra-color;
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.5;
        padding: 0 20px;
    }
    .item-index{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7.5rem;
        padding: 20px;
        max-width: 800px;
        margin: 40px auto;
        .item-seccion {
            padding: 20px;
            border-radius: 12px;
            background-color: $fondo-color2;
            box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.15);
            }
            h3 {
                font-size: 24px;
                color: $letra-color;
                margin-bottom: 15px;
                border-bottom: 2px solid #e0e0e0;
                padding-bottom: 10px;
            }
            ul {
                list-style-type: none;
                padding-left: 0;
                line-height: 1.6;
                li {
                    padding: 10px 0;
                    border-bottom: 1px solid #e0e0e0;
                    strong {
                        color: #E6E6FA;
                    }
                }
            }
        }
    }
    .banner-index{
            width: 100%;
            background-image: url(../assets/img/banner-1.jpeg);
            background-size: cover;
            background-position: center;
            color: $letra-color;
            text-align: center;
            padding: 20px 0;
            margin-top: 1.875rem;
        .cta-button {
            display: inline-block;
            padding: 12px 24px;
            background-color: #333;
            color: #f0f0f0;
            text-decoration: none;
            border-radius: 8px;
            font-weight: bold;
            transition: background-color 0.3s, transform 0.3s;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            &:hover {
                background-color: #555;
                transform: translateY(-2px);
            }
            }
        h2 {
            font-size: 2.25rem;
            margin-bottom: .625rem;
            margin-top: .9375rem;
        }
        p {
            font-size: 1.75rem;
        }
    }
    .seccion{
        display: flex;
        justify-content: center;
        section{
            display: flex;
            article{
                margin: 30px;
                background-color: $fondo-articulo;
                padding: 3.125rem;
                text-align: center;
                h3{
                    display: flex;
                    justify-content: center;
                    font-size: 1.875rem;
                    margin: 1.5625rem;
                }
                p{
                    display: flex;
                    justify-content: center;
                }
                a{
                    display: flex;
                    justify-content: center;
                    display: block;
                    background-color: $fondo-boton;
                    padding: .9375rem 1.875rem;
                    margin: .625rem;
                    color: $letra-color;
                    text-decoration: none;
                }
            }
        }
    }