main{
    section{
        .carousel{
            margin: 60px;
        }
    }
    .seccion{
        display: flex;
        justify-content: center;
        section{
            display: flex;
            article{
                margin: 30px;
                background-color: $fondo-articulo;
                padding: 3.125rem;
                text-align: center;
                h3{
                    display: flex;
                    justify-content: center;
                    font-size: 1.875rem;
                    margin: 1.5625rem;
                }
                p{
                    display: flex;
                    justify-content: center;
                }
                a{
                    display: flex;
                    justify-content: center;
                    display: block;
                    background-color: $fondo-boton;
                    padding: .9375rem 1.875rem;
                    margin: .625rem;
                    color: $letra-color;
                    text-decoration: none;
                }
            }
        }
    }
}