// INDEX
@media screen and (max-width: 768px){
    main{
        .seccion{
            section{
                flex-direction: column;
            }
        }
}
}
@media screen and (max-width: 320px) {
    main{
        .seccion{
            section{
                article{
                    padding: .9375rem;
                    margin: .3125rem;
                    h3{
                        font-size: .75rem;
                    }
                    p{
                        font-size: .5rem;
                        text-align: center;
                    }
                    a{
                        font-size: .5rem;
                    }
                }
            }
        }
        section{
            .carousel{
                margin: .9375rem;
            }
        }
    }
    footer{
        .footer-row{
            .seccion-footer{
                margin: .375rem;
                h4{
                    font-size: .75rem;
                }
                p{
                    font-size: .5rem;
                }
                .quick-links{
                    li{
                        a{
                            font-size: .5rem;
                        }
                    }
                }
            }
        }
    }
}
// GALERIA
@media screen and (max-width: 768px){
    main{
        .sector-galeria{
            .container-galeria{
                grid-template-columns: repeat(2,50%);
            }
        }
    }
}
@media screen and (max-width: 320px){
    main{
        .sector-galeria{
            .container-galeria{
                grid-template-columns: repeat(1,100%);
            }
        }
    }
}
