@media screen and (max-width: 1440px){
        .seccion{
            section{
                article{
                    text-align: center;
                    p{
                        font-size: .875rem;
                    }
                }
            }
        }
    }
@media screen and (max-width: 1024px){
    .seccion{
        section{
            flex-direction: column;
            article{
                text-align: center;
            }
        }
    }
    .sectores{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .sector-galeria{
        .container-galeria{
            grid-template-columns: repeat(2,50%);
        }
    }
}
@media screen and (max-width: 768px){
    .seccion{
        section{
            flex-direction: column;
        }
    }
    .sectores{
        section{
            img{
                max-width: 100%;
                height: auto;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    .sector-galeria{
        .container-galeria{
            grid-template-columns: repeat(2,50%);
        }
    }
    .banner-start{
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .banner-end{
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 425px){
        h1{
            font-size: 1.5rem;
        }
        .parrafo-principal{
            font-size: 1.125rem;
        }
        .banner-index{
            h2{
                font-size: 1.125rem
            }
            p{
                font-size: .875rem;
            }
            a{
                font-size: .875rem;
            }
        }
        .item-index{
            display: flex;
            flex-direction: column;
            gap: 3.125rem;
            .item-seccion{
                h3{
                    font-size: 1rem;
                }
                ul{
                    li{
                        font-size: 12px;
                    }
                }
            }
        }
        .seccion{
            section{
                flex-direction: column;
                article{
                    text-align: center;
                    padding: .9375rem;
                    h3{
                        font-size: 1.125rem;
                    }
                    p{
                        font-size: .875rem;
                        text-align: center;
                    }
                    a{
                        font-size: .875rem;
                    }
                }
            }
        }
        .titulo-sector{
            font-size: 1.25rem;
        }
        .parrafo-sector{
            font-size: .875rem;
        }
        .sectores{
            section{
                h2{
                    font-size: 1.125rem;
                }
                p{
                    font-size: .75rem;
                }
            }
        }
        .nosotros{
            h1{
                font-size: 1.625rem;
            }
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: .875rem;
            }
            .equipo{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .banner-start{
            h2{
                font-size: 1.375rem;
            }
            p{
                font-size: 1.125rem;
            }
        }
        .sector-plan{
            .container-planes{
                .titulo-plan{
                    font-size: 1.375rem;
                }
                h2{
                    font-size: 1.125rem;
                }
                ul{
                    li{
                        font-size: .875rem;
                    }
                }
            }
        }
        .banner-end{
            h2{
                font-size: 1.375rem;
            }
            p{
                font-size: 1.125rem;
            }
        }   
    }
    footer{
        .footer-row{
            .seccion-footer{
                margin: .25rem;
                padding: .625rem;
                h4{
                    font-size: 1rem;
                }
                p{
                    font-size: .75rem;
                }
                .quick-links{
                    li{
                        a{
                            font-size: .75rem;
                        }
                    }
                }
            }
        }
    }
@media screen and (max-width: 375px){
        h1{
            font-size: 1.25rem;
        }
        .parrafo-principal{
            font-size: .875rem;
        }
        .seccion{
            section{
                flex-direction: column;
                article{
                    text-align: center;
                    padding: .9375rem;
                    h3{
                        font-size: 1rem;
                    }
                    p{
                        font-size: .75rem;
                        text-align: center;
                    }
                    a{
                        font-size: .75rem;
                    }
                }
            }
        }
        .sector-galeria{
            .container-galeria{
                grid-template-columns: repeat(1,100%);
            }
        }
        .banner-start{
            h2{
                font-size: 1.125rem;
            }
            p{
                font-size: 1rem;
            }
        }
        .sector-plan{
            .container-planes{
                .titulo-plan{
                    font-size: 1.125rem;
                }
                h2{
                    font-size: .875rem;
                }
                ul{
                    li{
                        font-size: .625rem;
                    }
                }
            }
        }
        .banner-end{
            h2{
                font-size: 1.125rem;
            }
            p{
                font-size: 1rem;
            }
        } 
    }
    footer{
        .footer-row{
            .seccion-footer{
                margin: .375rem;
                padding: .625rem
            }
        }
    }
@media screen and (max-width: 320px){
        h1{
            font-size: 1rem;
        }
        .parrafo-principal{
            font-size: .75rem;
        }
        section{
            .carousel{
                margin: .9375rem;
            }
        }
        .banner-index{
            h2{
                font-size: .75rem
            }
            p{
                font-size: .5rem;
            }
            a{
                font-size: .5rem;
            }
        }
        .seccion{
            section{
                article{
                    padding: .9375rem;
                    margin: .3125rem;
                    h3{
                        font-size: .75rem;
                    }
                    p{
                        font-size: .5rem;
                        text-align: center;
                    }
                    a{
                        font-size: .5rem;
                    }
                }
            }
        }
        .titulo-sector{
            font-size: 1rem;
        }
        .parrafo-sector{
            font-size: .625rem;
        }
        .sectores{
            section{
                h2{
                    font-size: .875rem;
                }
                p{
                    font-size: .625rem;
                }
            }
        }
        .nosotros{
            h1{
                font-size: 1.125rem;
            }
            h2{
                font-size: 1rem;
            }
            p{
                font-size: .75rem;
            }
        }
        .sector-galeria{
            .container-galeria{
                grid-template-columns: repeat(1,100%);
            }
        }
        .banner-start{
            h2{
                font-size: 1rem;
            }
            p{
                font-size: .75rem;
            }
        }
        .sector-plan{
            .container-planes{
                display: flex;
                flex-direction: column;
                align-items: center;
                .titulo-plan{
                    font-size: .75rem;
                }
                .plan{
                    width: 80%;
                }
            }
        .banner-end{
            h2{
                font-size: 1rem;
            }
            p{
                font-size: .75rem;
            }
        }   
    }
    footer{
        .footer-row{
            .seccion-footer{
                margin: .375rem;
                padding: .625rem
                h4{
                    font-size: .75rem;
                }
                p{
                    font-size: .5rem;
                }
                .quick-links{
                    li{
                        a{
                            font-size: .5rem;
                        }
                    }
                }
            }
        }
    }
}