// INDEX
@media screen and (max-width: 1440px){
    main{
        .seccion{
            section{
                article{
                    text-align: center;
                    p{
                        font-size: .875rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1024px){
    main{
        .seccion{
            section{
                flex-direction: column;
                article{
                    text-align: center;
            }
        }
    }
}
}
@media screen and (max-width: 768px){
    main{
        .seccion{
            section{
                flex-direction: column;
            }
        }
}
}
@media screen and (max-width: 425px){
    main{
        h1{
            font-size: 1.5rem;
        }
        .parrafo-principal{
            font-size: 1.125rem;
        }
        .banner-index{
            h2{
                font-size: 1.125rem
            }
            p{
                font-size: .875rem;
            }
            a{
                font-size: .875rem;
            }
        }
        .item-index{
            display: flex;
            flex-direction: column;
            gap: 3.125rem;
            .item-seccion{
                h3{
                    font-size: 1rem;
                }
                ul{
                    li{
                        font-size: 12px;
                    }
                }
            }
        }
        .seccion{
            section{
                flex-direction: column;
                article{
                    text-align: center;
                    padding: .9375rem;
                    h3{
                        font-size: 1.125rem;
                    }
                    p{
                        font-size: .875rem;
                        text-align: center;
                    }
                    a{
                        font-size: .875rem;
                    }
                }
            }
        }
    }
    footer{
        .footer-row{
            .seccion-footer{
                margin: .25rem;
                padding: .625rem;
                h4{
                    font-size: 1rem;
                }
                p{
                    font-size: .75rem;
                }
                .quick-links{
                    li{
                        a{
                            font-size: .75rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 375px){
    main{
        h1{
            font-size: 1.25rem;
        }
        .parrafo-principal{
            font-size: .875rem;
        }
        .seccion{
            section{
                flex-direction: column;
                article{
                    text-align: center;
                    padding: .9375rem;
                    h3{
                        font-size: 1rem;
                    }
                    p{
                        font-size: .75rem;
                        text-align: center;
                    }
                    a{
                        font-size: .75rem;
                    }
                }
            }
        }
    }
    footer{
        .footer-row{
            .seccion-footer{
                margin: .375rem;
                padding: .625rem
            }
        }
    }
}
@media screen and (max-width: 320px){
    main{
        h1{
            font-size: 1rem;
        }
        .parrafo-principal{
            font-size: .75rem;
        }
        section{
            .carousel{
                margin: .9375rem;
            }
        }
        .banner-index{
            h2{
                font-size: .75rem
            }
            p{
                font-size: .5rem;
            }
            a{
                font-size: .5rem;
            }
        }
        .seccion{
            section{
                article{
                    padding: .9375rem;
                    margin: .3125rem;
                    h3{
                        font-size: .75rem;
                    }
                    p{
                        font-size: .5rem;
                        text-align: center;
                    }
                    a{
                        font-size: .5rem;
                    }
                }
            }
        }
    }
    footer{
        .footer-row{
            .seccion-footer{
                margin: .375rem;
                padding: .625rem
                h4{
                    font-size: .75rem;
                }
                p{
                    font-size: .5rem;
                }
                .quick-links{
                    li{
                        a{
                            font-size: .5rem;
                        }
                    }
                }
            }
        }
    }
}
// SECCIONES
@media screen and (max-width: 1024){
    main{
        .sectores{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
// GALERIA
@media screen and (max-width: 768px){
    main{
        .sector-galeria{
            .container-galeria{
                grid-template-columns: repeat(2,50%);
            }
        }
    }
}
@media screen and (max-width: 320px){
    main{
        .sector-galeria{
            .container-galeria{
                grid-template-columns: repeat(1,100%);
            }
        }
    }
}
// PLANES
@media screen and (max-width: 768px){
    main{
        .banner-start{
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
        .banner-end{
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (max-width: 425px){
    main{
        .banner-start{
            h2{
                font-size: 1.375rem;
            }
            p{
                font-size: 1.125rem;
            }
        }
        .sector-plan{
            .container-planes{
                .titulo-plan{
                    font-size: 1.625rem;
                }
                h2{
                    font-size: 1.25rem;
                }
                ul{
                    li{
                        font-size: 1rem;
                    }
                }
            }
        }
        .banner-end{
            h2{
                font-size: 1.375rem;
            }
            p{
                font-size: 1.125rem;
            }
        }   
    }
}
@media screen and (max-width: 375px){
    main{
        .banner-start{
            h2{
                font-size: 1.125rem;
            }
            p{
                font-size: 1rem;
            }
        }
        .sector-plan{
            .container-planes{
                .titulo-plan{
                    font-size: 1.375rem;
                }
                h2{
                    font-size: 1rem;
                }
                ul{
                    li{
                        font-size: .75rem;
                    }
                }
            }
        }
        .banner-end{
            h2{
                font-size: 1.125rem;
            }
            p{
                font-size: 1rem;
            }
        }   
    }
}
@media screen and (max-width: 320px){
    main{
        .banner-start{
            h2{
                font-size: 1rem;
            }
            p{
                font-size: .75rem;
            }
        }
        .sector-plan{
            .container-planes{
                .titulo-plan{
                    font-size: 1.125rem;
            }
        }
        .banner-end{
            h2{
                font-size: 1rem;
            }
            p{
                font-size: .75rem;
            }
        }   
    }
}
}