main{
    .titulo-comunidad{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding: 30px;
        font-size: large;
        font-size: 60px;
    }
    section{
        .container-comunidad{
            width: 70%;
            margin: auto;
            .articulo-comunidad{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 50px;
                border-bottom: white 2px dashed;
                img{
                    width: 200px;
                    height: 200px;
                    margin: 50px;
                }
                .parrafo-1{
                    margin: 25px;
                    padding: 50px;
                    font-size: large;
                    background-color: rgb(44, 54, 57);
                }
                .parrafo-2{
                    @extend .parrafo-1;
                    background-color: rgb(63, 78, 79);
                }
                .parrafo-3{
                    @extend .parrafo-1;
                    background-color: rgb(44, 54, 57);
                }
            }
        }
    }
}