main{
    .banner-start{
        width: 100%;
                background-image: url(../assets/img/banner-1.jpeg);
                background-size: cover;
                background-position: center;
                color: $letra-color;
                text-align: center;
                padding: 20px 0;
                margin-top: 1.875rem;
        h2 {
            font-size: 2.25rem;
            margin-bottom: .625rem;
            margin-top: .9375rem;
        }
        p {
            font-size: 1.75rem;
        }
    }
    .sector-plan{
        display: flex;
        justify-content: center;
        .container-planes{
            width: 80%;
            margin: 60px auto;
            padding: 20px;
            background-color: $fondo-articulo;
            border-radius: 10px;
            box-shadow: 0 0 10px rgb(83, 81, 81);
            .titulo-plan{
                display: flex;
            justify-content: center;
            margin: 20px;
            padding: 25px;
            }
            .plan:nth-child(2){
                background-color: #423F3E;
            }
            .plan:nth-child(3){
                background-color: #171010;
            }
            .plan:nth-child(4){
                background-color: #362222;
            }
            .plan{
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 35px;
                margin: 40px;
                margin-bottom: 80px;
                h2{
                    padding-bottom: 10px;
                    color: $letra-color;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    li{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .banner-end{
        width: 100%;
                background-image: url('../assets/img/banner-2.jpeg');
                background-size: cover;
                background-position: center;
                color: $letra-color;
                text-align: center;
                padding: 20px 0;
                margin-bottom: 1.875rem;
        h2 {
            font-size: 2.25rem;
            margin-bottom: .625rem;
            margin-top: .9375rem;
        }
        p {
            font-size: 1.75rem;
        }
    }
}